[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "jquery-waypoints"]
	path = jquery-waypoints
	url = https://github.com/imakewebthings/jquery-waypoints.git
