[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "jquery-waypoints"]
	path = jquery-waypoints
	url = https://github.com/imakewebthings/jquery-waypoints.git
[submodule "Font-Awesome"]
	path = Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "country-flags"]
	path = country-flags
	url = https://github.com/hjnilsson/country-flags.git
[submodule "jquery-circle-progress"]
	path = jquery-circle-progress
	url = https://github.com/kottenator/jquery-circle-progress.git
