.background-turquoise {
  background-color: #1abc9c !important;
}
.background-greenSea {
  background-color: #16a085 !important;
}
.background-emerald {
  background-color: #2ecc71 !important;
}
.background-nephritis {
  background-color: #27ae60 !important;
}
.background-peterRiver {
  background-color: #3498db !important;
}
.background-belizeHole {
  background-color: #2980b9 !important;
}
.background-amethyst {
  background-color: #9b59b6 !important;
}
.background-wisteria {
  background-color: #8e44ad !important;
}
.background-wetAsphalt {
  background-color: #34495e !important;
}
.background-midnightBlue {
  background-color: #2c3e50 !important;
}
.background-orange {
  background-color: #f89406 !important;
}
.background-sunFlower {
  background-color: #f1c40f !important;
}
.background-carrot {
  background-color: #e67e22 !important;
}
.background-pumpkin {
  background-color: #d35400 !important;
}
.background-alizarin {
  background-color: #e74c3c !important;
}
.background-pomegranate {
  background-color: #c0392b !important;
}
.background-clouds {
  background-color: #ecf0f1 !important;
}
.background-silver {
  background-color: #bdc3c7 !important;
}
.background-concrete {
  background-color: #95a5a6 !important;
}
.background-asbestos {
  background-color: #7f8c8d !important;
}
.background-transparent {
  background: transparent !important ;
}
