.background-metroNavy {
  background-color: #3399cc !important;
}
.background-metroMagenta {
  background-color: #996699 !important;
}
.background-metroRed {
  background-color: #c24747 !important;
}
.background-metroOrange {
  background-color: #e2674a !important;
}
.background-metroYellow {
  background-color: #ffcc66 !important;
}
.background-metroJade {
  background-color: #99cc99 !important;
}
.background-metroGreen {
  background-color: #339966 !important;
}
.background-metroPink {
  background-color: #cc6699 !important;
}
.background-metroPurple {
  background-color: #666699 !important;
}
.background-metroTeal {
  background-color: #669999 !important;
}
.background-metroCyan {
  background-color: #33cccc !important;
}
.background-turquoise {
  background-color: #1abc9c !important;
}
.background-greenSea {
  background-color: #16a085 !important;
}
.background-emerald {
  background-color: #2ecc71 !important;
}
.background-nephritis {
  background-color: #27ae60 !important;
}
.background-peterRiver {
  background-color: #3498db !important;
}
.background-belizeHole {
  background-color: #2980b9 !important;
}
.background-amethyst {
  background-color: #9b59b6 !important;
}
.background-wisteria {
  background-color: #8e44ad !important;
}
.background-wetAsphalt {
  background-color: #34495e !important;
}
.background-midnightBlue {
  background-color: #2c3e50 !important;
}
.background-orange {
  background-color: #f89406 !important;
}
.background-sunFlower {
  background-color: #f1c40f !important;
}
.background-carrot {
  background-color: #e67e22 !important;
}
.background-pumpkin {
  background-color: #d35400 !important;
}
.background-alizarin {
  background-color: #e74c3c !important;
}
.background-pomegranate {
  background-color: #c0392b !important;
}
.background-clouds {
  background-color: #ecf0f1 !important;
}
.background-silver {
  background-color: #bdc3c7 !important;
}
.background-concrete {
  background-color: #95a5a6 !important;
}
.background-asbestos {
  background-color: #7f8c8d !important;
}
.background-transparent {
  background: transparent  ;
}
.color-turquoise {
  color: #1abc9c !important;
}
.color-greenSea {
  color: #16a085 !important;
}
.color-emerald {
  color: #2ecc71 !important;
}
.color-nephritis {
  color: #27ae60 !important;
}
.color-peterRiver {
  color: #3498db !important;
}
.color-belizeHole {
  color: #2980b9 !important;
}
.color-amethyst {
  color: #9b59b6 !important;
}
.color-wisteria {
  color: #8e44ad !important;
}
.color-wetAsphalt {
  color: #34495e !important;
}
.color-midnightBlue {
  color: #2c3e50 !important;
}
.color-orange {
  color: #f89406 !important;
}
.color-sunFlower {
  color: #f1c40f !important;
}
.color-carrot {
  color: #e67e22 !important;
}
.color-pumpkin {
  color: #d35400 !important;
}
.color-alizarin {
  color: #e74c3c !important;
}
.color-pomegranate {
  color: #c0392b !important;
}
.color-clouds {
  color: #ecf0f1 !important;
}
.color-silver {
  color: #bdc3c7 !important;
}
.color-concrete {
  color: #95a5a6 !important;
}
.color-asbestos {
  color: #7f8c8d !important;
}
.color-metroNavy {
  color: #3399cc !important;
}
.color-metroMagenta {
  color: #996699 !important;
}
.color-metroRed {
  color: #c24747 !important;
}
.color-metroOrange {
  color: #e2674a !important;
}
.color-metroYellow {
  color: #ffcc66 !important;
}
.color-metroJade {
  color: #99cc99 !important;
}
.color-metroGreen {
  color: #339966 !important;
}
.color-metroPink {
  color: #cc6699 !important;
}
.color-metroPurple {
  color: #666699 !important;
}
.color-metroTeal {
  color: #669999 !important;
}
.color-metroCyan {
  color: #33cccc !important;
}
